# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/
storybook-static/
packages/ui-mfe/storybook-static/
packages/ui-mfe/dist-federation/

# Environment
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Vite
*.local

# Test / coverage
coverage/
